@model NA.Web.Models.Home.AuctionListViewModel


<style>
    .remaining {
        background-color: transparent !important;
        border: none !important;
        color: green;
    }
    .highlight {
        color: red;
    }
</style>

<div class="list-group col-md-6" id="container_@Model.AuctionId">
    @Html.HiddenFor(m => m.AuctionId)
    <a href="@Url.Action("ViewAuction", new {id = @Model.AuctionId})" class="list-group-item">
        <div class="row">
            <h3 class="list-group-item-heading col-md-10">@Model.ProductName</h3>
            <div class="col-md-2">
                <span class="badge">Bids: @Model.TotalBids</span>
            </div>
        </div>
        <hr style="margin-top: 4px;" />
        <div class="row">
            <div class="col-md-6">
                <p class="list-group-item-text">

                    @Html.LabelFor(model => model.CurrentPrice):

                    @Html.DisplayFor(model => model.CurrentPrice)<br />

                    @Html.LabelFor(model => model.AcceptedPrice):

                    @Html.DisplayFor(model => model.AcceptedPrice)<br />
                </p>
            </div>

            <div class="col-md-6">
                <div class="remaining" id="counter_@Model.AuctionId"></div>
            </div>
        </div>
    </a>
</div>




<script type="text/javascript">
    $(function () {

        var year =@Model.EndTime.Year,
            month = @Model.EndTime.Month -1,
            day = @Model.EndTime.Day,
            hour=@Model.EndTime.Hour,
            minute = @Model.EndTime.Minute,
            seconds=@Model.EndTime.Second;

        $("#counter_@(Model.AuctionId)").countdown({
            until: new Date(year, month, day, hour, minute, seconds),
            onTick: lastFiveMinutes,
            onExpiry: function() { $('#container_@(Model.AuctionId)').remove();}

        });
    });
    function lastFiveMinutes(time) {
        if ($.countdown.periodsToSeconds(time) <= 300 && !$(this).hasClass('highlight')) {
            $(this).addClass('highlight');
        }
        
    }
</script>

